.contenedor{
		width: 970px;
	
		background-color: red;
		margin:0 auto;
		text-align: center;
	}
	.item{
		width: 440px;
		height: 200px;
		background-color: skyblue;
		display: inline-block;
		vertical-align: top;
		margin: 5px;
	}
	.item2{
		width: 950px;
		margin-left:10px;
		margin-top: 15px;
		margin-bottom: 15px;
		height: 300px;
		background-color: pink;
		margin-bottom:10px;
	}
@media screen and (min-width: 0px) and (max-width: 970px) {
    .contenedor {
        background-color: black;
        width: 90%;
    }
}


