body{
	font-family: 'Raleway', sans-serif;
}

.header-site{
	background-color: #111111;
	padding: 12px 18px;
}

.title{
	color: white;
	float: left;
	font-size: 16px;

}
.menu-text{
	color: rgba(255, 255, 255, 0.5);
	float: right;
	font-size: 16px;
}

.text-principal{
	font-size: 60px;
	text-transform: uppercase;
margin-bottom: 22px;
display: inline-block;
}

.parrafo-principal{
	font-size: 22px;
	line-height: 1.7;

	width: 800px;
	margin:0 auto;

}

.bloque-principal{
	background-color: #c5c5c5;
	text-align: center;
	padding: 200px 0px;
}



.sec-services{
	
	background-color: #ececec;
	padding-top: 144px;
	padding-bottom: 144px;
}

.title-section{
	font-size: 29px;
	
	text-align: center;
	margin-bottom: 20px;
}
.parrafo-section{
	
	font-size: 18px;
	line-height: 1.4;
	text-align: center;
}
.centro{
	width: 1024px;
	margin:0 auto;
}
.clear{
	clear: both;
}